.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size: 1.5rem;
    background-color: rgb(32, 28, 28);
    margin: 3rem auto;
    box-shadow: 0px 0px 18px #ede9e6;
    border-radius: 0.5rem;
    font-weight: bold;
  }
  
  .score {
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
  }
  
  .x-score {
    color: rgb(248, 244, 244);
    border-bottom: 5px solid rgb(238, 235, 234);
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  
  .o-score {
    color: rgb(34, 235, 245);
    border-bottom: 5px solid rgb(34, 208, 239);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }
  
  .inactive {
    border-bottom: 5px solid transparent;
  }